<p> <%= link_to "All Makers", "/makers" %></p>
<h1>Cars</h1>
<% @cars.each do |car| %>
<h3> <%= car.name %> </h3>
<p>Color: <%= car.color %>, Doors: <%= car.doors %>, Still in production: <%= car.in_production %> </p>
<p><%= link_to "Update #{car.name}", "/cars/#{car.id}/edit" %> </p>
<% end %>
