<p> <%= link_to "All Cars", "/cars" %> </p>
<h1>Makers</h1>
<% @makers.each do |maker|  %>
<h3><%= link_to "#{maker.name}", "makers/#{maker.id}" %></h3>
  Created at: <%= maker.created_at %>
  <%= link_to "Update #{maker.name}", "/makers/#{maker.id}/edit" %>
  <%= link_to "Delete #{maker.name}", "/makers/#{maker.id}", method: :delete %>
<% end %>
<p> <%= link_to "Add New Maker", "/makers/new" %> </p>
