<p> <%= link_to "All Cars", "/cars" %> </p>
<h1><%= @maker.name %></h1>
<p>Year Founded: <%= @maker.year_founded %></p>
<p>Made in the US: <%= @maker.domestic %> </p>
<p>Number of cars: <%= @count %></p>
